rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      // Check if a document for the user exists in the roles_admin collection
      return exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }
    
    // Allow unauthenticated user creation and role setup for the very first time
    match /app-users/{userId} {
      allow read, write: if request.auth == null;
      allow read, write: if request.auth.uid == userId;
      allow read, write: if isAdmin();
    }
     match /roles_admin/{userId} {
      allow write: if request.auth == null;
      allow read, write: if isAdmin();
    }

    // Authenticated users can read their own profile
    match /app-users/{userId} {
      allow read: if request.auth != null;
      allow update: if request.auth.uid == userId;
    }

    // Rules for top-level shifts collection
    match /shifts/{shiftId} {
      allow read, write: if request.auth != null;
    }
    
    // Rules for top-level leave-requests collection
    match /leave-requests/{leaveRequestId} {
      allow read, write: if request.auth != null;
    }
    
    // Rules for top-level supply-requests collection
    match /supply-requests/{supplyRequestId} {
       allow read, write: if request.auth != null;
    }
    
    // Rules for top-level extra-shift-requests collection
    match /extra-shift-requests/{requestId} {
       allow read, write: if request.auth != null;
    }
    
    // Rules for top-level warehouse-items collection
    match /warehouse-items/{itemId} {
       allow read, write: if request.auth != null;
    }
  }
}
