rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      // Check if a document for the user exists in the admin roles collection
      return exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }
    
    match /app-users/{userId} {
      // Allow unauthenticated users to read a user document IF it is visible for login
      // This is required for the login dropdown to work with its 'where' clause
      // Allow any authenticated user to read user info (e.g. for profile pages)
      // Allow admins or the user themselves to read their own document
      allow read: if (request.auth == null && resource.data.visibleInLogin == true) || isAdmin() || isOwner(userId);
      
      // Allow creating a user only during initial setup (unauthenticated)
      allow create: if request.auth == null;
      
      // Allow updating a user document if the requester is an admin or the owner of the document
      allow update: if isAdmin() || isOwner(userId);
      
      // Allow deleting a user only if the requester is an admin
      allow delete: if isAdmin();
    }

     match /roles_admin/{userId} {
        // Only admins can read or write to the admin roles collection.
        allow read, write: if isAdmin();
        // Allow creation only for initial setup (unauthenticated)
        allow create: if request.auth == null;
    }
  }
}
