rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      return get(/databases/$(database)/documents/roles_admin/$(request.auth.uid)).data.isAdmin == true;
    }
    
    match /app-users/{userId} {
      // Allow unauthenticated users to LIST users for login dropdown
      allow list: if request.auth == null;
      allow read: if isAdmin() || isOwner(userId);
      // Allow creation only for initial setup from an unauthenticated client
      allow create: if request.auth == null;
      allow update: if isAdmin() || isOwner(userId);
      allow delete: if isAdmin();
    }

     match /roles_admin/{userId} {
      allow read, write: if isAdmin();
      // Allow creation only for initial setup from an unauthenticated client
      allow create: if request.auth == null;
    }
  }
}
